In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import datetime
import math
import seaborn as sns

In [5]:
df = pd.read_csv('citibike.csv')

In [6]:
print(len(df))

2092573

In [7]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092568,729,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,237,E 11 St & 2 Ave,40.730473,-73.986724,311,Norfolk St & Broome St,40.717227,-73.988021,25725,Subscriber,1995,1
2092569,645,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,3259,9 Ave & W 28 St,40.749370,-73.999234,461,E 20 St & 2 Ave,40.735877,-73.982050,39583,Customer,1969,0
2092570,257,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,3798,W 40 St & 5 Ave,40.752269,-73.982079,505,6 Ave & W 33 St,40.749013,-73.988484,21240,Subscriber,1985,1
2092571,466,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,328,Watts St & Greenwich St,40.724055,-74.009660,361,Allen St & Hester St,40.716059,-73.991908,34916,Subscriber,1989,0
2092572,81,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3093,N 6 St & Bedford Ave,40.717452,-73.958509,25745,Subscriber,1990,1

In [8]:
newdf = df[['tripduration', 'starttime', 'stoptime',
       'start station name', 'end station name',
      'bikeid', 'usertype','birth year', 'gender']]

In [9]:
df = newdf.rename(columns={"tripduration" : "Trip_Duration", "starttime" : "Start_Time", "stoptime" : "Stop_Time", "start station name": "Start_Station_Name","end station name": "End_Station_Name", "bikeid":"Bike_Id", "usertype":"User_Type", "birth year":"Birth_Year", "gender":"Gender"})

In [10]:
df.dropna()

,Trip_Duration,Start_Time,Stop_Time,Start_Station_Name,End_Station_Name,Bike_Id,User_Type,Birth_Year,Gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,6 Ave & Broome St,W 13 St & 7 Ave,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,Columbus Ave & W 95 St,W 89 St & Columbus Ave,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,LaGuardia Pl & W 3 St,E 25 St & 1 Ave,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,W 11 St & 6 Ave,W 41 St & 8 Ave,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,LaGuardia Pl & W 3 St,E 25 St & 1 Ave,25597,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...
2092568,729,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,E 11 St & 2 Ave,Norfolk St & Broome St,25725,Subscriber,1995,1
2092569,645,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,9 Ave & W 28 St,E 20 St & 2 Ave,39583,Customer,1969,0
2092570,257,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,W 40 St & 5 Ave,6 Ave & W 33 St,21240,Subscriber,1985,1
2092571,466,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,Watts St & Greenwich St,Allen St & Hester St,34916,Subscriber,1989,0
2092572,81,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,Metropolitan Ave & Bedford Ave,N 6 St & Bedford Ave,25745,Subscriber,1990,1

In [11]:
df

,Trip_Duration,Start_Time,Stop_Time,Start_Station_Name,End_Station_Name,Bike_Id,User_Type,Birth_Year,Gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,6 Ave & Broome St,W 13 St & 7 Ave,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,Columbus Ave & W 95 St,W 89 St & Columbus Ave,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,LaGuardia Pl & W 3 St,E 25 St & 1 Ave,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,W 11 St & 6 Ave,W 41 St & 8 Ave,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,LaGuardia Pl & W 3 St,E 25 St & 1 Ave,25597,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...
2092568,729,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,E 11 St & 2 Ave,Norfolk St & Broome St,25725,Subscriber,1995,1
2092569,645,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,9 Ave & W 28 St,E 20 St & 2 Ave,39583,Customer,1969,0
2092570,257,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,W 40 St & 5 Ave,6 Ave & W 33 St,21240,Subscriber,1985,1
2092571,466,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,Watts St & Greenwich St,Allen St & Hester St,34916,Subscriber,1989,0
2092572,81,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,Metropolitan Ave & Bedford Ave,N 6 St & Bedford Ave,25745,Subscriber,1990,1

In [16]:
df["Trip_Duration"] = df["Trip_Duration"].div(60).round(2)

In [17]:
df

,Trip_Duration,Start_Time,Stop_Time,Start_Station_Name,End_Station_Name,Bike_Id,User_Type,Birth_Year,Gender,Trip_Duration_mins
0,8.78,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,6 Ave & Broome St,W 13 St & 7 Ave,41750,Subscriber,1993,1,8
1,2.90,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,Columbus Ave & W 95 St,W 89 St & Columbus Ave,18264,Subscriber,1992,1,2
2,12.65,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,LaGuardia Pl & W 3 St,E 25 St & 1 Ave,25525,Subscriber,1995,1,12
3,10.25,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,W 11 St & 6 Ave,W 41 St & 8 Ave,30186,Subscriber,1992,1,10
4,12.68,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,LaGuardia Pl & W 3 St,E 25 St & 1 Ave,25597,Subscriber,1992,1,12
...,...,...,...,...,...,...,...,...,...,...
2092568,12.15,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,E 11 St & 2 Ave,Norfolk St & Broome St,25725,Subscriber,1995,1,12
2092569,10.75,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,9 Ave & W 28 St,E 20 St & 2 Ave,39583,Customer,1969,0,10
2092570,4.28,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,W 40 St & 5 Ave,6 Ave & W 33 St,21240,Subscriber,1985,1,4
2092571,7.77,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,Watts St & Greenwich St,Allen St & Hester St,34916,Subscriber,1989,0,7
2092572,1.35,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,Metropolitan Ave & Bedford Ave,N 6 St & Bedford Ave,25745,Subscriber,1990,1,1